.notifications {
	background-color: #5e6472;
	width: 300px;
	height: 200px;
	border-bottom: solid 3px #000000;;
    border-radius: 20px;
    position: fixed; 
	bottom: 70%;
    left: 85%;
    transform: translateX(-50%);
}