
@font-face {
    font-family: 'Millimetre'; /* Nom de la police */
    src: url('../assets/millimetre/Millimetre-Regular.otf') format('opentype'); /* Chemin relatif vers le fichier de police */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Millimetre-Light'; /* Nom de la police */
    src: url('../assets/millimetre/Millimetre-Light.otf') format('opentype'); /* Chemin relatif vers le fichier de police */
    font-weight: normal;
    font-style: normal;
}

.chat {
    width: 500px;
    height: 600px;
    z-index: 1000;
    background-color: #2A2C31;
    position: fixed;
    border-radius: 30px;
    border: 4px solid #ffa69e;
    display: flex;
}

.logo-header {
    font-size: 23px;
    color: #FAF3DD;
}

.logo-header:hover {
    font-size: 25px;
    color: #ffa69e;
}

.header-logo {
    width: 50%;
    height: 100%;
    background-position: center;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat-header {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 12%;
    background: rgb(94,100,114);
    background: linear-gradient(90deg, rgba(94,100,114,1) 0%, rgba(42,44,49,1) 80%);
    border-top-left-radius: 25px;
    border-top-right-radius: 0;
    border-bottom: 2px solid #FAF3DD;
    justify-content: space-between;
    align-items: center;
}


.chat-discussions {
    display: flex;
    width: 175px; 
    height: 100%; 
    background: rgb(94,100,114);
    background: linear-gradient(90deg, rgba(94,100,114,1) 0%, rgba(42,44,49,1) 80%);
    border-right: 2px solid #FAF3DD;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    position: relative;
}

.place-button {
    display: flex;
    gap: 10px;
}

.choiceButton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 60px;
}

.choiceButton-custom {
    align-items: center;
    width: 90px;
    padding: 2px;
    color: #FAF3DD;
    font-family: Millimetre;
}

.welcomeMessage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    padding-left: 20px;
}

.welcomeMessage-span-username {
    font-family: Millimetre;
    color: #FAF3DD;
    font-size: 22px;
    padding-left: 8px;
    border-bottom: 2px solid #ffa69e;
}

.welcomeMessage-span {
    border-top: 2px solid #ffa69e;
    font-family: Millimetre;
    color: #FAF3DD;
    font-size: 22px;
}

.welcomeMessage-span:hover,
.welcomeMessage-span-username:hover {

    font-family: Millimetre;
    color: #FAF3DD;
    font-size: 23px;   
}


.createChannel {
    width: 150px;
    height: 150px;
    border: 2px solid #FAF3DD;
    border-radius: 25px;
}


.chat-discussions-friends {
    height: 88%;
    width: 100%;
    margin-top: 40%;
}

.friend-presentation:hover .friend-name-center {
    color: #ffa69e !important;
    padding-top: 2px;
}

.friend-presentation:hover .profile-picture-discuss {
    border: 2px solid #ffa69e;
}

.friend-presentation {
    margin-top: 2px;
    width: 100%;
    height: 10%;
    border-bottom: 2px solid #FAF3DD;
    display: flex;
}

.friend-separate {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.friend-name {
    width: 70%;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.friend-name-center {
    font-family: Millimetre;
    font-size: 16px;
    color: #FAF3DD;
}

.profile-picture-discuss {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #FAF3DD;
}

.header-discuss {
    width: 100%;
    height: 12%;
    display: flex;
}


.header-discuss-name-custom {
    font-family: Millimetre-Light;
    font-size: 17px;
    color: #FAF3DD;
    padding-left: 100px;
}

.header-discuss-name-custom:hover {
    font-family: Millimetre;
    font-size: 17px;
    color: #FFA69E;
    padding-left: 100px;
    padding-bottom: 5px;
}


.header-discuss-name {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-status {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;  
}

.header-status-custom-online {
    font-size: 15px;
    color: #B8F2E6;
}

.header-status-custom-offline {
    font-size: 15px;
    color: #FFA69E;
}


.come-back {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.come-back-custom {
    font-size: 25px;
    color: #FAF3DD;
}

.come-back-custom:hover {
    font-size: 27px;
    color: #FFA69E;
    padding-bottom: 3px;
}

.principal-discussion {
    display: flex;
    padding-left: 20px;
    width: 60%;
    flex-direction: column;
    height: 100%;
}

.form-custom {
    width: 100%;
    height: 10%;
    border-radius: 10px;
    border: 1px solid #FAF3DD;
    background: transparent;
}

.typing-text-custom {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 1px solid #FAF3DD;
    background: transparent;
    font-family: Millimetre;
    padding-bottom: 20px;
}


.core-discussion {
    flex-grow: 1;
    width: 100%;
    max-height: 400px;
    overflow-y: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    scrollbar-width: none;
}

.core-discussion::-webkit-scrollbar {
    display: none; 
}

.message-wrapper.sender {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.message-wrapper.receiver {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.div-message-receiver,
.div-message-sender {
    display: inline-block;
    width: fit-content;
    padding: 5px;
    margin-bottom: 2px;
    border-radius: 10px;
    max-width: 80%;
    word-wrap: break-word;
}

.div-message-receiver {
    background-color: #5E6472;
}

.div-message-sender {
    background-color: #869FA9;
}

.span-message-sender {
    font-family: Millimetre;
    width: 90%;
    padding-left: 10px;
    color: #FAF3DD;
}

.message-sender {
    font-weight: bold;
    margin-right: 5px;
}

.message-receiver {
    font-weight: bold;
    color: #FAF3DD;
    margin-right: 5px;
}

.message-text {
    color: #333;
}