
@font-face {
    font-family: 'Millimetre'; /* Nom de la police */
    src: url('../assets/millimetre/Millimetre-Regular.otf') format('opentype'); /* Chemin relatif vers le fichier de police */
    font-weight: normal;
    font-style: normal;
}

.chat {
    width: 500px;
    height: 600px;
    z-index: 1000;
    background-color: #2A2C31;
    position: fixed;
    border-radius: 30px;
    border: 4px solid #ffa69e;
    display: flex;
}

.logo-header {
    font-size: 23px;
    color: #FAF3DD;
}

.logo-header:hover {
    font-size: 25px;
    color: #ffa69e;
    padding-bottom: 10px; 
}

.header-logo {
    width: 50%;
    height: 100%;
    background-position: center;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat-header {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background: rgb(94,100,114);
    background: linear-gradient(90deg, rgba(94,100,114,1) 0%, rgba(42,44,49,1) 80%);
    border-top-left-radius: 25px;
    border-top-right-radius: 0;
    border-bottom: 2px solid #FAF3DD;
    justify-content: space-between;
    align-items: center;
}


.chat-discussions {
    display: flex;
    width: 175px; 
    height: 100%; 
    background: rgb(94,100,114);
    background: linear-gradient(90deg, rgba(94,100,114,1) 0%, rgba(42,44,49,1) 80%);
    border-right: 2px solid #FAF3DD;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    position: relative;
}

.place-button {
    display: flex;
    gap: 10px;
}

.choiceButton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 60px;
}

.choiceButton-custom {
    align-items: center;
    width: 90px;
    padding: 2px;
    color: #FAF3DD;
    font-family: Millimetre;
}

.welcomeMessage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    padding-left: 20px;
}

.welcomeMessage-username {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    padding-left: 20px;
}

.welcomeMessage-span {
    font-family: Millimetre;
    color: #FAF3DD;
    font-size: 22px;
}




.createChannel {
    width: 150px;
    height: 150px;
    border: 2px solid #FAF3DD;
    border-radius: 25px;
}
