@font-face {
    font-family: 'Millimetre'; /* Nom de la police */
    src: url('../assets/millimetre/Millimetre-Regular.otf') format('opentype'); /* Chemin relatif vers le fichier de police */
    font-weight: normal;
    font-style: normal;
}

.navbar {
    --bs-navbar-padding-x: 0;
    --bs-navbar-padding-y: 0;
    --bs-navbar-color: rgba(var(--bs-emphasis-color-rgb), 0.65);
    --bs-navbar-hover-color: rgba(var(--bs-emphasis-color-rgb), 0.8);
    --bs-navbar-disabled-color: rgba(var(--bs-emphasis-color-rgb), 0.3);
    --bs-navbar-active-color: rgba(var(--bs-emphasis-color-rgb), 1);
    --bs-navbar-brand-padding-y: 0.3125rem;
    --bs-navbar-brand-margin-end: 1rem;
    --bs-navbar-brand-font-size: 1.25rem;
    --bs-navbar-brand-color: rgba(var(--bs-emphasis-color-rgb), 1);
    --bs-navbar-brand-hover-color: rgba(var(--bs-emphasis-color-rgb), 1);
    --bs-navbar-nav-link-padding-x: 0.5rem;
    --bs-navbar-toggler-padding-y: 0.25rem;
    --bs-navbar-toggler-padding-x: 0.75rem;
    --bs-navbar-toggler-font-size: 1.25rem;
    --bs-navbar-toggler-icon-bg: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2833, 37, 41, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e);
    --bs-navbar-toggler-border-color: rgba(var(--bs-emphasis-color-rgb), 0.15);
    --bs-navbar-toggler-border-radius: var(--bs-border-radius);
    --bs-navbar-toggler-focus-width: 0.25rem;
    --bs-navbar-toggler-transition: box-shadow 0.15s ease-in-out;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: var(--bs-navbar-padding-y) var(--bs-navbar-padding-x);
}

.navbar-nav {
    background-color: #5e6472;
    border-bottom: solid 3px #000000;;
    border-radius: 20px;
    position: fixed; 
    top: 30px; 
    left: 50%;
    transform: translateX(-50%);
	  height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.nav-link-2 {
    display: flex;
    justify-content: center;
    font-family: Millimetre;
    font-size: 18px;
    color: #fdf0d5 !important;
    width: 65px;
}

.nav-link {
    display: flex;
    justify-content: center;
    font-family: Millimetre;
    font-size: 18px;
    color: #fdf0d5 !important;
    width: 65px;
}

.nav-link-profile {
    display: flex;
    justify-content: center;
    font-family: Millimetre;
    font-size: 18px;
    color: #fdf0d5 !important;
    width: 40px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link.active {
    display: flex;
    justify-content: center;
    font-family: Millimetre;
    font-size: 18px;
    color: #ffa69e !important;
    width: 65px;
}

.profile-navbar {
	margin-left: 80px;
}

.police-navbar .nav-link {
	font-family: Millimetre;
	font-size: 20px;
	color: #fdf0d5 !important;

}


.logo-navbar {
  font-family: Millimetre;
	font-size: 32px;
	color: #fdf0d5 !important;
}

.profile-picture-navbar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
}

.navbar-nav-profile {
    background-color: #5e6472;
    border-bottom: solid 3px #000000;;
    border-radius: 20px;
    position: fixed; 
    top: 0; 
    left: 85%;
    transform: translateX(-50%);
	  height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
}

.notif-placement {
    width: 40px;
    height: 40px;
    padding-right: 5px;
}


.notif {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    font-size: 18px;
    color: #fdf0d5;
}

.notif:hover {
    font-size: 19px;
    color:#ffa69e;
}


.logo-transcendence {
  height: 300px;
  width: 300px;
  position: relative;
  top: -30px;
}


.notifFull {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    font-size: 18px;
    color: #fdf0d5;
}
.notifFull:hover {
    font-size: 19px;
}
  .notifFull::after {
    content: '';
    position: absolute;
    top: 3px;
    right: 7px;
    width: 10px;
    height: 10px;
    background-color: #ffa69e;
    border-radius: 50%;
    animation: blink 2s infinite;
    opacity: 1;
  }

  @keyframes blink {
    from, to {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
  
  @-moz-keyframes blink {
    from, to {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
  
  @-webkit-keyframes blink {
    from, to {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
  
  @-ms-keyframes blink {
    from, to {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
  
  @-o-keyframes blink {
    from, to {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }

.underNavbar-tr {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Millimetre;
    color: #fdf0d5;
    font-size: 17px;
}

.profileBS {
    color: #fdf0d5;
    margin: 0 4px;
}
    
.profileBS:hover{
    color: #ffa69e;  
    font-size: 18px;
}

.underNavbar {
    position: fixed;
    width: 50px;
    background-color: #5e6472;
    border-bottom: solid 3px #000000;
    border-radius: 20px;
    bottom: 88%;
    left: 85%;
    transform: translateX(-50%);
    height: 35px;
    padding: 5px 20px;
    margin-top: 10px;
}

