@font-face {
    font-family: 'Millimetre';
    src: url('../assets/millimetre/Millimetre-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.custom-modal {
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal-body-custom {
	background-color: #5E6472;
}

.div-custom-modal {
	display: flex;
	justify-content: center;
	align-items: center;
}

.inside-div-custom-modal {
	height: 100%;
	width: 25%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.buttonModal {
	border: 2px solid #FFA69E !important;
	color: #FAF3DD;
	font-family: Millimetre;
}