@import url('https://fonts.googleapis.com/css2?family=Manuale:ital,wght@0,300..800;1,300..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

.custom-button {
	position: absolute; /* Positionne le conteneur de bouton relativement à son parent le plus proche avec position définie */
	top: 62vh; /* Espacement depuis le haut */
	left: 68vw;
	background-color: #0454EE; /* Bleu roi */
	border-color: #0454EE; /* Même couleur pour la bordure */
	color: rgb(132, 185, 247); /* Couleur du texte */
	box-shadow: 0px 4px 6px rgba(0, 2, 10, 0.5);
	padding: 0.2vw 0.8vw; /* Ajustement des marges internes du bouton */
	font-size: 1vw; /* Taille de la police */
	font-family: 'Manuale', sans-serif;
	font-weight: bold ;
	border-radius: 20px; /* Arrondir légèrement les coins du bouton */
	transition: transform 0.2s ease; /* Animation de transformation */
  }

  .custom-button:focus {
	  
  transform: translateY(-0.2vw); /* Légère montée à l'hover */
}
  
  .custom-button:hover {
	transform: translateY(-0.2vw); /* Légère montée à l'hover */
}

.custom-42 {
	position: absolute; /* Positionne le conteneur de bouton relativement à son parent le plus proche avec position définie */
	top: 75vh; /* Espacement depuis le haut */
	left: 57vw;
	background-color: rgba(1, 7, 17, 0.5); /* Bleu roi */
	border-color: rgba(1, 7, 17, 0.5);; /* Même couleur pour la bordure */
	color: rgb(77, 78, 78); /* Couleur du texte */
	box-shadow: 0px 0.5vw 1vw rgba(0, 2, 10, 0.5);
	padding: 1.2vw 2.2vw; 
	font-size: 1.1vw; 
	font-family: 'Manuale', sans-serif;
	font-weight: bold ;
	border-radius: 15px; 
	transition: transform 0.2s ease; 
	outline: none;
	appearance: none;
	transform: translateY(-0.5px);
}

.custom-42:focus,
.custom-42:active{
	background-color: rgba(1, 7, 17, 0.5); 
	border-color: rgba(1, 7, 17, 0.5); 
	color: rgb(77, 78, 78);
	box-shadow: none; 
	box-shadow: none;
    transform: none; 
}


.custom-42:hover {
	  transform: translateY(-0.5vw);
	}
  
	
	
	.custom-log {
		position: absolute; /* Positionne le conteneur de bouton relativement à son parent le plus proche avec position définie */
		top: 55vh;
		left:57vw;
		background-color: #0454EE; /* Bleu roi */
		border-color: #0454EE; /* Même couleur pour la bordure */
		color: rgb(132, 185, 247); /* Couleur du texte */
		box-shadow: 0px 4px 6px rgba(0, 2, 10, 0.5);
		padding: 0.2vw 0.8vw; /* Ajustement des marges internes du bouton */
		font-size: 1vw; /* Taille de la police */
		font-family: 'Manuale', sans-serif;
		font-weight: bold ;
		border-radius: 20px; /* Arrondir légèrement les coins du bouton */
		transition: transform 0.2s ease; /* Animation de transformation */
	  }
	
	  .custom-log:focus {
	
	  transform: translateY(-0.2vw); /* Légère montée à l'hover */
	}
	  
	  .custom-log:hover {
		transform: translateY(-0.2vw); /* Légère montée à l'hover */
	}
	
	
	.custom-42:active{
	  background-color: rgba(1, 7, 17, 0.5); 
	  border-color: rgba(1, 7, 17, 0.5); 
	  color: rgb(77, 78, 78);}