

@font-face {
    font-family: 'Millimetre'; /* Nom de la police */
    src: url('../assets/millimetre/Millimetre-Regular.otf') format('opentype'); /* Chemin relatif vers le fichier de police */
    font-weight: normal;
    font-style: normal;
}

.welcome-message {
    position: absolute;
    top: 20px; 
    left: 20px;
    font-family: 'Millimetre', sans-serif;
    font-size: 24px; 
    font-weight: bold;
    color: #0e0404;
    background-color: #363a45;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
  }


.nameUserComponent {

    font-family: 'Millimetre', sans-serif;
    font-size: 18px;
    text-align: center;
    color: #e7bfcd;
    padding: 10px; 
    margin-top: 20px;
    margin-left: 40px;
}

.nameFriendComponent {

    font-family: 'Millimetre', sans-serif;
    font-size: 18px;
    text-align: center;
    color: #e7bfcd;
    padding: 10px;
    margin-top: 20px;
    margin-left: 10px;
}

.username {

    font-family: 'Millimetre', sans-serif;
    font-size: 16px;
    text-align: center;
    color: #f5f5f6;
}

.icon_checked {

    font-family: 'Millimetre', sans-serif;
    width: 20%;
    font-size: 24px;
    text-align: center;
    color: #f5f5f6;
    padding: 10px;
}

.icon_add {

    font-family: 'Millimetre', sans-serif;
    font-size: 24px;
    height: 25;
    text-align: center;
    color: #f5f5f6;
    padding: 10px;
}

.status.online {

    font-family: 'Millimetre', sans-serif;
    font-size: 16px;
    text-align: center;
    color: #bee5c1;
}

.status.offline {

    font-family: 'Millimetre', sans-serif;
    font-size: 16px;
    text-align: center;
    color: #e2c1cf;

}

.background-container {
    background-image: url('../assets/background.png'); 
    background-size: contain; 
    background-position: center; 
    height: 100vh; 
    width: 100vw; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    }

.friends-list {
    height: 325px;
    overflow-y: auto;
    border-radius: 50px;
    width: 450px; 
    background-color: #363a45;
}

.buttonAdd {
    font-family: 'Millimetre', sans-serif;
    font-size: 16px;
    color: #e2c1cf;
    margin-right: 15px;

}

.friend-item {
    height: 60px;
    width: 380px;
    border-radius: 50px;
    border-top: 3px solid #40444c;
    border-bottom: 3px solid #40444c;
    background-color: #363a45;
    padding: 10px;
    margin: 5px;
    margin-left: 35px;
    display: flex;
    align-items: center;
}

.friend-item td {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #363a45;
    height: 40px;
    width: 90px;
}

.profile-picture {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
}

.noUsers {
    font-family: 'Millimetre', sans-serif;
    font-size: 20px;
    padding-top: 80px;
    padding-left: 115px;
    color: #f5f5f6;
}
