@import url('https://fonts.googleapis.com/css2?family=Manuale:ital,wght@0,300..800;1,300..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Metrophobic&display=swap');



@font-face {
    font-family: 'Millimetre';
    src: url('../assets/millimetre/Millimetre-Regular.otf') format('opentype'); /* Chemin relatif vers le fichier de police */
    font-weight: normal;
    font-style: normal;
}

.h1-titre {
	position: absolute;
	top: 12vh;
	left: 48vw;
	color: #FAF3DD;
	text-shadow: 0vw 0.14vw 0.2vw #FFA69E;
	font-family: 'Millimetre', sans-serif;
	font-weight: 550;
	font-size: 4.2vw;
}

.para-co {
	position: absolute;
	top: 27vh;
	left: 57vw;
	color: #FAF3DD;
	font-size: 1.3vw;
	font-family: 'Millimetre', sans-serif;
	font-weight: 1000;

}

.para-id {
	position: absolute;
	left: 57vw;
	top: 34.5vh;
	color: #FAF3DD;
	font-size: 1.1vw;
	font-family: 'Millimetre', sans-serif;
	font-weight: 600;
}

.input-id {
	position: absolute;
	left: 57vw;
	top: 38.5vh;
	font-size: 1vw;
	font-family: 'Millimetre', sans-serif;
	font-weight: 600;
	background-color: rgba(0, 0, 0, 0.35);
	box-shadow: 0px 0px 2vw rgba(0, 0, 0, 1);
}

	.input-id input {
		width: 15vw;
		color:#969393;
		padding: 0.9vw;
		border-radius: 0.58vw;
		background-color: rgba(0, 0, 0, 0.35);
		border: 0.1vw solid #222222; }

	.input-id input:focus {
		color:#969393;
		background-color: rgba(0, 0, 0, 0.35);
		border: 0.07vw solid #001f41;}


.input-pass {
	position: absolute;
	color:#969393;
	left: 57vw;
	top: 48vh;
	font-size: 1vw;
	font-family: 'Millimetre', sans-serif;
	font-weight: 600;
	background-color: rgba(0, 0, 0, 0.35);
	box-shadow: 0vw 0vw 2vw rgba(0, 0, 0, 1);
}

	.input-pass input:focus {
		color:#969393;
		background-color: rgba(0, 0, 0, 0.35);
		border: 0.07vw solid #001f41;}

	.input-pass input {
		color:#969393;
		background-color: rgba(0, 0, 0, 0.35);
		width: 15vw;
		padding: 0.9vw;
		border-radius: 0.58vw;
		border: 0.1vw solid #222222; }


.para-login {
		position: absolute;
		top: 44vh;
		left: 57vw;
		color: #FAF3DD;
		font-size: 1.1vw;
		font-family: 'Millimetre', sans-serif;
		font-weight: 600;}

.para-mdp {
	position: absolute;
	top: 53vh;
	left:69vw;
	color: #969393;
	font-size: 0.7vw;
	font-family: 'Millimetre', sans-serif;
	font-weight: 600;
	font-style: italic;
}


.para-user {
	position: absolute;
	top: 62vh;
	left: 57vw;
	color: #FAF3DD;
	font-size: 1.1vw;
	font-family: 'Millimetre', sans-serif;
	font-weight: 600;
}


.img-custom {
	position: absolute;
	border-radius: 2vw;
	top: 4.5vh;
	left: 2.3vw;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
	height: 100vw;
	max-width: 90vw;
	max-height: 80vh;
}

.french-flag {
	position: absolute;
	top: 2.3vh;
	left: 91vw;
	box-shadow: 0px 4px 6px rgba(0, 2, 10, 0.5);
	}

.italian-flag {
	position: absolute;
	top: 2.3vh;
	left: 93.5vw;
	box-shadow: 0px 4px 6px rgba(0, 2, 10, 0.5);
	}

.english-flag {
	position: absolute;
	top: 2.3vh;
	left: 96vw;
	box-shadow: 0px 4px 6px rgba(0, 2, 10, 0.5);
	}

		.english-flag:hover,
		.italian-flag:hover,
		.french-flag:hover {
			transform: translateY(-0.1vw);
		}
		
.selected {
    border: 0.06vw solid #FAF3DD; 
}

.error {
	position: absolute;
	top: 52.3vh;
	left: 57vw;
	color: #fc00008e;
	font-size: 0.9vw;
	font-style: italic;
	font-family: 'Millimetre', sans-serif;
	font-weight: 200;
}
	