@font-face {
    font-family: 'Millimetre'; /* Nom de la police */
    src: url('../assets/millimetre/Millimetre-Regular.otf') format('opentype'); /* Chemin relatif vers le fichier de police */
    font-weight: normal;
    font-style: normal;
}

.GlobalGame {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-image: url("../../assets/background.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-line {
    position: absolute;
    top: 0%;
    left: 50%;
    width: 2px;
    height: 100%;
    background: repeating-linear-gradient(
        to bottom,
        transparent,
        transparent 10px,
        white 10px,
        white 20px
    );
    opacity: 0.5;
}


.pong-container {
    margin: 20px auto;
    position: relative;
    width: 900px;
}


.board {
    width: 900px;
    height: 600px;
    background: radial-gradient(circle, #5E6472 0%, #24272c 100%);
    position: relative;
    margin: 0 auto;
    border-radius: 10px;

    /* Bordure initiale avec une des couleurs de la palette */
    border: 3px solid #869FA9; 
    
    /* Animation de pulsation lumineuse */
    animation: pulse 2s infinite;
}

/* Animation pour créer un effet de pulsation lumineuse */
@keyframes pulse {
    0% {
        box-shadow: 
            0 0 20px rgba(184, 242, 230, 0.6),
            0 0 40px rgba(179, 230, 227, 0.4),
            0 10px 20px rgba(0, 0, 0, 0.5),
            inset 0 0 15px rgba(255, 255, 255, 0.1);
        border-color: #869FA9; /* Couleur initiale de la bordure */
    }
    50% {
        box-shadow: 
            0 0 30px rgba(174, 217, 224, 0.8), /* Couleur #AED9E0 */
            0 0 60px rgba(179, 230, 227, 0.6), /* Couleur #B3E6E3 */
            0 15px 30px rgba(0, 0, 0, 0.7),
            inset 0 0 20px rgba(255, 255, 255, 0.15);
        border-color: #B8F2E6; /* Bordure changeant au milieu de l'animation */
    }
    100% {
        box-shadow: 
            0 0 20px rgba(184, 242, 230, 0.6), /* Couleur #B8F2E6 */
            0 0 40px rgba(174, 217, 224, 0.4), /* Couleur #AED9E0 */
            0 10px 20px rgba(0, 0, 0, 0.5),
            inset 0 0 15px rgba(255, 255, 255, 0.1);
        border-color: #869FA9; /* Retour à la couleur initiale */
    }
}


.paddle {
    width: 10px;
    height: 90px;
    background-color: #ffffff;
    position: absolute;
}

.paddleleft {
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.paddleright {
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.ball {
    width: 15px;
    height: 15px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.score_1, .score_2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 400px;
  }
  
  .score_1 {
    left: -120px;
  }
  
  .score_2 {
    right: -120px;
  }
  
  .score-square {
    width: 30px;
    height: 30px;
    background-color: #5E6472;
    margin: 5px;
    border-radius: 5px;  
    transition: background-color 0.3s, box-shadow 0.3s;
}

.score-square.active {
    background-color: #D9F3E2;
    
    box-shadow: 0 0 10px #d9f3e279, 
                0 0 10px #d9f3e279;
}
