.para {
	position: absolute;
	left: 40.5vw;
	top: 44.5vh;
	color: #FAF3DD;
	font-size: 1.1vw;
	font-family: 'Millimetre', sans-serif;
	font-weight: 600;
}

.input {
	position: absolute;
	left: 40vw;
	top: 49vh;
	font-size: 1vw;
	font-family: 'Millimetre', sans-serif;
	font-weight: 600;
	background-color: rgba(0, 0, 0, 0.35);
	box-shadow: 0px 0px 2vw rgba(0, 0, 0, 1);
}

	.input input {
		width: 15vw;
		color: #869FA9;
		padding: 0.9vw;
		border-radius: 0.58vw;
		background-color: rgba(0, 0, 0, 0.35);
		border: 0.1vw solid #222222;
		transition: background-color 0.3s ease, border 0.3s ease;
	}

	.input input:focus {
		color: #869FA9;
		background-color: rgba(0, 0, 0, 0.35);
		border: 0.1vw solid #222222;
		box-shadow: none;
		outline: none;
	}

	.input input[readonly] {
		background-color: rgba(0, 0, 0, 0.35);
		color: #5E6472;
		border: 0.1vw solid #222222;
		opacity: 1;
		cursor: default; 
	}

.custom-click {
	position: absolute;
	top: 49vh;
	left: 57vw;
	background-color:#5E6472;
	color:#FDCDBE !important;
	box-shadow: 0px 4px 6px rgba(0, 2, 10, 0.5);
	padding: 0.2vw 0.8vw;
	font-size: 1vw;
	font-family: 'Millimetre', sans-serif;
	font-weight: bold;
	border-radius: 10px; 
	transition: transform 0.2s ease;
}
	.custom-click:hover {
		transform: translateY(-0.2vw);
	}

