.image-style {
	position: absolute;
	top: 15vh;
	left: 42vw;
	width: 12.5vh;
  	height: 12.5vh;
  	object-fit: cover;
	animation: float 3s ease-in-out infinite;
	border: 2px solid #5E6472; 
    border-radius: 50%;
    box-shadow: 2px 10px 25px rgba(0, 0, 0, 0.3); 
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0);
    }
}

.succes-upload {
	position: absolute;
	top: 28vh;
	left: 41vw;
	color: #2886038e;
	font-size: 0.9vw;
	font-style: italic;
	font-family: 'Millimetre', sans-serif;
	font-weight: 200;
}

.error-upload {
	position: absolute;
	top: 28vh;
	left: 41vw;
	color: #fc00008e;
	font-size: 0.9vw;
	font-style: italic;
	font-family: 'Millimetre', sans-serif;
	font-weight: 200;
}