/* src/App.css */

/* Réinitialisation des marges et paddings pour tout l'écran */
body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
} 
 #background-container {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  background-image: url("./assets/background.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  }  */

  /* #ChooseGame {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-image: url("../../assets/test.svg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
} */

.content {
  color: #887a91;
  text-align: center;
}
